* {
  box-sizing: border-box;
}

body {
  background-color: white;
  color: black;
  margin: 0;
  padding-bottom: 50px;
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
  background-image: url("https://github.com/Arc-SouthAfrica/Arc-SouthAfrica.github.io/blob/main/docs/462749.jpg?raw=true");
  background-size: cover;
  background-repeat: repeat-x;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* Media Queries */
@media (max-width: 767px) {
  .navbar-nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .navbar-nav .nav-item {
    margin: 10px 15px;
  }

  .logo {
    margin: 0 auto;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .logo {
    margin: 0 auto;
  }
}

.logo {
  display: flex;
  padding: 10px;
  justify-content: center;
  align-items: center;
}

.logo img {
  height: auto;
  width: min(50vw, 200px);
}

.navbar-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.navbar-nav .nav-item {
  margin-left: 15px;
}

.navbar-nav .nav-link {
  color: white !important;
  font-size: 15px;
  text-decoration: none;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

.navbar-nav .nav-link:hover {
  color: yellow !important;
  background-color: #2e278a;
  border-radius: 5px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
}

.navbar {
  background-color: #5d7f9e !important;
  opacity: 0.8;
  font-family: Arial, sans-serif;
  color: #fff;
  width: 100%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.7);
}

.image-section {
  position: relative;
  margin-bottom: 100px;
  text-align: center;
}

.image-section img {
  width: 80%;
  height: auto;
  margin-top: 10px;
  margin-bottom: -40px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.7);
}

.contact-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.contact-photo {
  margin-top: 20px;
}

.contact-list {
  list-style: none;
  padding: 0;
  margin-top: 20px;
}

.contact-list li {
  margin-bottom: 10px;
}

.image-text {
  width: 80%;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
}


.image-text h1,
.image-text h2,
.image-text h3,
.image-text h4,
.image-text h5 {
  width: 100%;
  margin: 30;
  padding: 5px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
}

.image-text h3,
.image-text h4,
.image-text h5 {
  font-size: 25px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
}

.image-text li {
  width: 100%;
  margin: 30;
  text-align: center;
  padding: 5px;
  font-size: 16px;
}

.image-text p {
  color: black;
  font-size: 16px;
  text-align: center;
  width: 100%;
  margin: 30;
  padding: 5px;
}

footer {
  padding-top: 10px;
  padding-bottom: 0px;
  margin-top: 10px;
  margin-bottom: -50px;
  background-color: transparent !important;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 1);
}

.footer-text {
  margin-bottom: 0px;
  color: white;
  font-size: 12px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.footer-text a {
  color: yellow;
}

.scroll-top {
  display: inline-block;
  color: #04AA6D;
  border: 2px solid #04AA6D;
  border-radius: 5px;
  padding: 5px;
  font-size: 13px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-decoration: none;
  transition: background-color 0.3s;
  padding-bottom: 5px;
  margin-bottom: 10px;
}

.scroll-top-container {
  margin-bottom: -60px;
}

.scroll-top:hover {
  background-color: #04AA6D;
  color: white;
}

.scroll-top:focus,
.scroll-top:active {
  background-color: #04AA6D;
  color: white;
}

.bg-lightblue {
  background-color: #5d7f9e !important;
  padding-bottom: 25px;
}

#scroll-top-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 999;
}

#scroll-top-button img {
  width: 40px;
  height: 40px;
}

/* Hamburger Menu */
.hamburger-menu {
  display: none;
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 999;
  cursor: pointer;
}

.hamburger-menu .line {
  width: 25px;
  height: 3px;
  background-color: white;
  color: white;
  margin: 5px 0;
  transition: transform 0.3s, opacity 0.3s;
}

.hamburger-menu .line {
  border-color: white;
}

.hamburger-menu span {
  background-color: white !important;
}

/* Changes for Hamburger Menu */
.hamburger-menu .line,
.hamburger-menu .line:before,
.hamburger-menu .line:after {
  background-color: white;
}

.hamburger-menu:hover .line,
.hamburger-menu:hover .line:before,
.hamburger-menu:hover .line:after {
  background-color: white;
}

.hamburger-menu.active .line {
  transform: rotate(45deg);
}

.hamburger-menu.active .line:before {
  transform: rotate(90deg);
  top: 0;
}

.hamburger-menu.active .line:after {
  transform: rotate(90deg);
  bottom: 0;
}

.hamburger-menu.active span {
  background-color: transparent !important;
}

.hamburger-menu.active span:before,
.hamburger-menu.active span:after {
  background-color: white;
}

.hamburger-menu.active span:before {
  top: 0;
  transform: translateY(-5px) rotate(45deg);
}

.hamburger-menu.active span:after {
  bottom: 0;
  transform: translateY(5px) rotate(-45deg);
}

